

.loginfirstdiv{
display: flex;
flex-direction: column;
margin: 3vw 25vw;
padding: 1vw 0px;
background: rgb(236, 237, 240);
border-radius: 22px;
padding-bottom: 155px;
box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.431);
}

.register_header{
   margin: auto;
    }
.loginfirstdiv form{
    width: max-content;
 text-align: center;
 justify-content: center;
 margin: auto;
}
.logininputs{
    width: 40vw;
    margin: auto;
    border-radius: 5px;
    border-width: 0.2px;
    height: 2.5rem;
    padding-left: 0.5rem;
}
.logininputs::placeholder{
   padding-left: 12px;
}
.loginfirstdiv form h5{
  margin-right: auto;
width: 30%;


}
.login_alternatives_container{
    display: flex;
    margin: auto;
    cursor: pointer;
    margin-top: 5px;
    flex-direction: column;
    width: 100%;


    .auth_buttons{
       width: 50%;
        margin: 5px auto;

        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        height: 40px;
display: flex;
justify-content: center;
align-items: center;


    }
    .auth_buttons:hover{

        box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 2.6px;
        transition: all 0.3s ease-in-out;
    }
    span:first-of-type{
        background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
        color: rgb(2, 1, 1);
        border: 0.2px solid black;
    }
    span:first-of-type:hover{
        background: linear-gradient(to right, #121213 0%, #fcb69f 100%);
        transition: all 3s ease-in-out;

    }
    span:nth-of-type(2){
        background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
        color: rgb(10, 10, 10);
        border: 0.2px solid black;
    }
    span:nth-of-type(2):hover{
        background-image: linear-gradient(120deg, #0c0c0c 0%, #c2e9fb 100%);
        transition: all 0.3s ease-in-out;

    }
}


.forgotPassword_div{
    width: max-content;
    margin: auto;
    padding: 22px 22px;
    color: rgb(87, 57, 47);
    cursor: pointer;
    font-size: calc(0.6vw + 5px);
}
.forgotPassword_div:hover{

    color: rgb(50, 92, 78);
    transition:all 0.2s ease-in-out;
}
.forgotPassword_div a{
   text-decoration: underline;
}
.input_container{
    margin: 12px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
   border-width: 0;
}
.submitForm{
    width: 100%;
    margin: auto;
    border-radius: 7px;
    border-width: 1px;
    box-shadow: 2px 2px 0 0 rgba(90, 86, 86, 0.267);
    background-color: rgb(34, 32, 32);
    color: white;
    margin-top: 2rem;
}
.submitForm:hover{
   transform: scale(1.02);
    box-shadow: 3px 3px 2px 0 rgba(90, 86, 86, 0.267);
    background-color: coral;
    transition:all 0.2s ease-in-out;
}
.error_message{
    width: max-content;
    font-size: calc(0.6vw + 5px);
    margin: auto;
    margin-top: 3vw;
    color: rgb(211, 107, 107);
}
.succeced_message{
    width: max-content;
    font-size: calc(0.6vw + 5px);
    margin: auto;
    margin-top: 3vw;
    color: rgb(107, 211, 121);
}
.account_recomendation{
    width: max-content;
    margin-left: auto;
    padding: 22px 22px;

    cursor: pointer;
    font-size: calc(0.6vw + 5px);
   margin-top: 5vw;
   text-decoration: underline;
}
.account_recomendation h3{
  background-color: rgba(0, 0, 0, 0.849);
  text-align: center;
  border-radius: 5px;
  font-size: 144%;
color: rgb(255, 239, 239);
padding: 4px 4px;
}
.verified_email_container{
    margin: auto;

    border-radius: 7px;
}
.verified_email_container :first-child{
    margin: auto;

    width: min-content;
    text-align: center;
    border-radius: 7px;
    letter-spacing: 0.1rem;

}
.verified_email_container :last-child{
    margin: auto;
    background-color: rgba(238, 150, 144, 0.521);
   padding: 1rem 1rem;
  border-radius: 5px;


}

@media (orientation: portrait){

    .loginfirstdiv{
        margin: 0;
    }
    .logininputs{
        width: 80vw;
        margin: auto;
        border-radius: 5px;
        border-width: 0.2px;
        height: 2.5rem;
        padding-left: 0.5rem;
    }
    .submitForm{
      width: 80%;
    }
    .login_alternatives_container{
flex-direction: column;
        .auth_buttons{
            min-width: 35vw;


        }

    }

}

@media only screen and (max-width: 800px) and (max-height: 700px)  {
    .loginfirstdiv{
        margin: 0;
    }
}
