@import "../../../../styles//breakpoints.scss";

@mixin bottomLine {
  content: "";
  position: absolute;
  left: 10%;
  bottom: 0;
  height: 2px;
  width: 90%;
  background-color: tomato;
}

$bg: linear-gradient(to right, #3d4449 0%, #517fa4 100%);
$bg-accent: #484a4d;
$text-color: #2058e6;
$ul-size: 220px;
$border: 1px solid #474a4d;
$border-radius: 8px;
$speed: 500ms;

.items_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $ul-size;
  flex-wrap: nowrap;
  position: relative;
  @include md {
    width: calc(#{$ul-size} - 13%);
  }

  .icons {
    width: 25px;
    @include portrait {
      width: 25px;
    }
    @include sm {
      width: 17px;
    }
  }
}
